{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentification - Institutional Ledger</title>
    <link rel="stylesheet" href="{% static "Accueil/css/style2.css" %}">

</head>
<body>

    <div id="page">

        <div class="login-window">
            <div class="window-bar">
                <span class="window-title">INSTITUTIONAL LEDGER</span>
            </div>

            <div class="login-card">
                <div class="login-icon"> 🌟  </div>
                <h2 class="login-title">Authentification</h2>
                <p class="login-subtitle">Accès sécurisé au portail</p>

                <form  action="{% url "login" %}"  method="post" class="login-form">
                    {% csrf_token %}
                    <label for="" class="field-label">NOM D'UTILISATEUR</label>
                    <div class="input-box">
                         {% csrf_token %}
                        <span class="input-icon"></span>
                        <input type="text" name="username" placeholder="ex : j.dupont">
                    </div>

                    <label for="" class="field-label">MOT DE PASSE</label>
                    <div class="input-box">
                         {% csrf_token %}
                        <span class="input-icon"></span>
                        <input type="password"  name="password" placeholder="••••••••">
                    </div>

                    <button type="submit" class="btn-login">SE CONNECTER </button>
                </form>

                <a href="#" class="link-forgot">Mot de passe oublié ?</a>
                <a href="{% url "home" %}" class="link-forgot"> retoure </a>

                <p class="login-note">Cette application est protégée par un chiffrement de bout en bout et réservée au personnel autorisé.</p>
            </div>
        </div>

       
    </div>

</body>
</html>