
{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registre Académique - Institutional Ledger</title>

     <link rel="stylesheet" href="{% static "ADMIN/css/Gestion_Etudiant.css" %}">
  </head>
  <body>
    <div id="app">
      <aside id="sidebar">
        <div class="logo">
          <h1 class="logo-title">Institutional Ledger</h1>
          <span class="logo-subtitle">ADMIN PORTAL V1.0</span>
        </div>
        <nav class="menu">
          <ul>
            <li class="menu-item"><a href="{% url "Tableau_de_bord_admin" %}">Tableau de bord</a></li>
            <li class="menu-item"><a href="{% url "Gestions_utilisateur_ADMIN" %}">Utilisateurs</a></li>
            <li class="menu-item active"><a href="{% url "Gestion_Etudiant" %}">Étudiants</a></li>
            <li class="menu-item"><a href="{% url "Gestions_professeur" %}">Professeurs</a></li>
            <li class="menu-item"><a href="{% url "Gestions_matiere" %}">Matières</a></li>
            <li class="menu-item"><a href="{% url "Gestion_notes" %}">Notes</a></li>
            <li class="menu-item"><a href="#">Absences</a></li>
            <li class="menu-item"><a href="#">Statistiques</a></li>
          </ul>
        </nav>
        <div class="footer">
          <a href="#" class="footer-link">Paramètres</a>
           <a href="{% url "deconnexion" %}" class="footer-link">Déconnexion</a>
        </div>
      </aside>
      <main id="main">
        <header class="topbar">
          <div class="topbar-title">
            <h2>Registre Académique</h2>
            <p class="topbar-subtitle">
              Visualisation complète des effectifs par section et par matricule.
            </p>
          </div>
          <div class="topbar-right">
            <div class="search-box">
              <input
                type="text"
                placeholder="Rechercher un étudiant..."
                id="search"
              />
            </div>
            <div class="icons">
              <span class="icon-notification"> </span>
              <span class="icon-help"> </span>
              <div class="avatar">J. Doe</div>
            </div>
          </div>
        </header>
        <section class="register">
          <div class="register-toolbar">
            <div class="filter-box">
              <span class="filter-label">FILTRER PAR CLASSE</span>
              <select class="class-select">
                <option>Toutes les classes</option>
              </select>
            </div>
            <div class="add-student">
              <button class="btn-new"> <a href="{% url "ajoutetudiant" %}" style="color: white; text-decoration: none;">  + Nouvel Étudiant </a>  </button>
            </div>
          </div>
          <div class="table-wrap">
            <table class="table">
              <thead>
                <tr>
                  <th>MATRICULE</th>
                  <th>NOM</th>
                  <th>PRÉNOM</th>
                  <th>ÂGE</th>
                  <th>CLASSE</th>
                  <th>ACTIONS</th>
                </tr>
              </thead>
              <tbody>
                 {% for ED in etudiant %}
                <tr>
                  <td> {{ED.matricule}} </td>
                  <td> {{ED.nom}} </td>
                  <td>   {{ED.prenom}}  </td>
                  <td>    {{ED.age}}  </td>
                  <td>    {{ED.classe}}  </td>
                  <td>
                    <p class="viande">  <a href=" {% url 'modifier_etudiant' ED.id %} " style="text-decoration: none; color: black;"> modifier</a> </p>
                    <button  type="submit " style="background-color: rgb(213, 31, 31); color: black; border-radius: 2px; border: transparent; padding: 4px;" >Supprimer</button>
                    
                  </td>

                  
                </tr>
                
                
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="pagination">
           
          </div>
        </section>
        <section class="cards">
          <div class="card" id="card-total">
            <span class="card-label">EFFECTIF TOTAL</span>
            <div class="card-value">
              842 <span class="trend-up">+12% vs année préc.</span>
            </div>
          </div>
          
        </section>
      </main>
    </div>
  </body>
</html>
