
{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Professeurs - Institutional Ledger</title>
   

     <link rel="stylesheet" href="{% static "ADMIN/css/Gestions_professeur.css" %}">
  </head>
  <body>
    <div id="app">
      <aside id="sidebar">
        <div class="logo">
          <h1 class="logo-title">Institutional Ledger</h1>
          <span class="logo-subtitle">ADMIN PORTAL V1.0</span>
        </div>
        <nav class="menu">
          <ul>
            <li class="menu-item"><a href="{% url "Tableau_de_bord_admin" %}">Tableau de bord</a></li>
            <li class="menu-item"><a href="{% url "Gestions_utilisateur_ADMIN" %}">Utilisateurs</a></li>
            <li class="menu-item"><a href="{% url "Gestion_Etudiant" %}">Étudiants</a></li>
            <li class="menu-item active"><a href="{% url "Gestions_professeur" %}">Professeurs</a></li>
            <li class="menu-item"><a href="{% url "Gestions_matiere" %}">Matières</a></li>
            <li class="menu-item "><a href="{% url "Gestion_classe" %}"> Classe</a></li>
            <li class="menu-item"><a href="{% url "Gestion_notes" %}">Notes</a></li>
            <li class="menu-item"><a href="{% url "Gestions_absence" %}">Absences</a></li>  
            <li class="menu-item"><a href="{% url "Gestion_statistique" %}">Statistiques</a></li>
          </ul>
        </nav>
        <div class="footer">
          <a href="#" class="footer-link">Paramètres</a>
         <a href="{% url "deconnexion" %}" class="footer-link">Déconnexion</a>
        </div>
      </aside>
      <main id="main">
        <header class="topbar">
          <div class="topbar-title">
            <span class="breadcrumb"
              >ADMINISTRATION / GESTION DU CORPS ENSEIGNANT</span
            >
            <h2>Professeurs</h2>
          </div>
          <div class="topbar-right">
            <div class="add-professor">  
              <button class="btn-new">  <a href="{% url "addprofesseur" %}" style="text-decoration: none; color: white;"> Ajouter un professeur</a></button>
            </div>
          </div>
        </header>
        <section class="professors">
          <div class="table-toolbar">
            <div class="search-box">
              <input
                type="text"
                placeholder="Rechercher par nom ou ID..."
                id="search"
              />
            </div>
            <div class="filter-box">
              <button class="btn-filter">Filtres</button>
            </div>
          </div>
          <div class="table-wrap">
            <table class="table">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>NOM </th>
                  <th>PRENOM </th>
                  <th> classe </th>
                  <th>MATIÈRE ENSEIGNÉE</th>
                  <th>MODIFIER</th>
                  <th>SUPPRIMER</th>
                </tr>
              </thead>
                {% if messages %}
              <div class="messagesContainer">
              {% for message in messages %}
                <div class="alert {{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            </div>
            {% endif %}
             
              <tbody>
                 {% for prof in professeurs %}

                <tr>
                  <td> {{forloop.counter}} </td>
                  <td>{{prof.nom}} </td>
                  <td>{{prof.prenom}} </td>
                  <td>{{prof.classe}} </td>
                  <td>{{prof.matiere}} </td>
                   
                  <td >
                      <p class="viande">  <a href=" {% url 'Updateprofe' prof.id %}" style="text-decoration: none; color: black;"> modifier</a> </p>
                  </td>
                  <td>
                      <form action="{% url "Deltprofe" prof.id %}" method="post">  
                            {% csrf_token %}
                          <button  type='submite' style="padding: 5px; margin-left: 9px; background-color: red; border-radius: 5px; border: transparent;"> SUPPRIMER</button>
                       </form>
                  <td>

                      
                </tr>

                 {% endfor %}
              </tbody>
             
            </table>
          </div>
          
        </section>
        <footer class="page-footer">
          <span class="footer-note">Sceau d'Authenticité Académique</span>
        </footer>
      </main>
    </div>
  </body>
</html>
